$PRIMARY_COLOR: #ccc;
$SECONDARY_COLOR: #fff;
$BACKGROUND_COLOR_MAIN : #ccc;
$BACKGROUND_COLOR_SECONDARY : #ccc;
$TEXT_COLOR_MAIN : #ccc;
$TEXT_COLOR_SECONDARY : #ccc;
$ERROR_COLOR: #ccc;
$SUCCESS_COLOR: #ccc;
$WARNING_COLOR: #ccc;
$INFO_COLOR: #ccc;

$Font: 'Inter', sans-serif !important;
