@import './variables/Variables';
html,
body {
  padding: 0;
  margin: 0;
  font-family: $Font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Font;
  scroll-padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
input {
  font-family: $Font;
}

p,
button,
li,
span {
  font-family: $Font;
  box-shadow: none !important;
}

button {
  font-family: $Font;
  text-transform: capitalize !important;
}

@import 'mixins/Flex.scss';
@import './components/Home';

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $BACKGROUND_COLOR_MAIN;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $PRIMARY_COLOR;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $PRIMARY_COLOR;
}
::-webkit-scrollbar-button {
  height: 0.5px;
  background: $PRIMARY_COLOR;
}
